{% extends "frame.html" %}

{% block title %} .secretNumber {% endblock title %}


{% block page_content %}

<h1> Welcome to the Secret Number Game</h1>

{% if is_guessed %}
        <h3> Congratulations you guessed correct! </h3>
    {% else %}
        {% if has_guessed %}
            <h3>Sorry you guessed wrong!</h3>
        {% endif %}

            <h2> Guess the secret number </h2>
            <form method="post"> <!-- action="/formposts" inside the tag would tell you where to send it -->
                <input placeholder="secret number" type="number" name="Numberguess">
                <button class="btn btn-warning btn-lg" type="submit">Submit Answer</button>
            </form>

    {% endif %}

{% endblock page_content %}

